@page
@using ZealandDimselab.Models
@model ZealandDimselab.Pages.BookingPages.MyBookingsModel
@{
}


@if (!HttpContext.User.Identity.IsAuthenticated)
{
    @await Component.InvokeAsync("Modal");
}
<h1>Bookings</h1>
<table class="table table-bordered table-hover table-striped" width="70%">
    <col style="width: 5%">
    <col style="width: 8%">
    <col style="width: 55%">
    <col style="width: 12%">
    <col style="width: 12%">
    <col style="width: 15%">
    <col style="width: 16%">
    @if (HttpContext.User.IsInRole("admin"))
    {
        <col style="width: 13%">
    }


    <thead>
        <tr class="btn-secondary active">
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div><h5>Id</h5></div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div><h5>Booked By</h5></div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div><h5>Description</h5></div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div><h5>Booking Date</h5></div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div><h5>Return Date</h5></div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div><h5>Status</h5></div>
                </div>
            </th>
            @if (HttpContext.User.IsInRole("admin"))
            {
                <th>
                    <div class="d-flex justify-content-between p-0">
                        <div><h5>Toggle Status</h5></div>
                    </div>
                </th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var booking in Model.Bookings)
        {
            <tr class="btn-secondary">
                <td>
                    @booking.Id
                </td>
                <td>
                    @booking.User.Email
                </td>
                <td>
                    <details>
                        <summary>Items booked.</summary>
                        @foreach (var item in booking.BookingItems)
                        {
                            <li>
                                @item.Item.ToString() x @item.Quantity   @*Quantity property?*@
                            </li>
                        }

                    </details>
                </td>
                <td>
                    @booking.BookingDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @booking.ReturnDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @if (booking.Returned)
                    {<i>Returned</i>}
                    else
                    {
                        {<i>Not returned</i>}
                    }
                </td>

                @if (HttpContext.User.IsInRole("admin"))
                {
                    <th>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-success " type="button" data-toggle="tooltip" data-placement="top" title="ItemReturned" asp-page="MyBookings" asp-route-id="@booking.Id" asp-page-handler="ConfirmReturn"><i class="fa fa-check-square"></i></a>
                        </li>
                    </th>
                }


                @*<td>
                        <li class="list-inline-item">
                            <a class="btn btn-info btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Details" asp-page="ItemDetails" asp-route-id="@item.Id"><i class="fa fa-search-plus"></i></a>
                        </li>
                        @if (HttpContext.User.Identity.Name != null)
                        {
                            if (HttpContext.User.Identity.Name.Equals("Admin@Dimselab.dk"))
                            {
                                <li class="list-inline-item">
                                    <a class="btn btn-warning btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Edit/Update" asp-page="EditItem" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn btn-danger btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Delete" asp-page="DeleteItem" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                                </li>
                            }
                        }
                    </td>*@
            </tr>
        }
    </tbody>

</table>
